<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <img src="../static/images/logo.jpg" alt="Logo" width="100">

        <h1>Bienvenue sur le Système de Gestion des Hôpitaux</h1><br>
        <a href="../templates/hospital_list.html">Voir la Liste des Hôpitaux</a>
    </header>
    <div class="content">
        <p>Un endroit où vous pouvez facilement accéder à toutes les informations sur les hôpitaux, les centres de santé, les cliniques et les dispensaires de votre région.</p>
        <br><a href="../templates/hospital_form.html" class="button">Ajouter un Hôpital</a>
    </div>
</body>
</html>
